<%= form_tag menus_path do %> 
  <%= submit_tag "Submit Selections", class: "center-btn btn btn-xlarge btn-primary"%>
  <br>
  <% allergen_groups().each do |key, value| %>
    <div class='menu-panel'>
      <div class='center-heading'><%= key %></div>
      <% grouping = @menu.where(group: value) %>
      <br>
      <ol>
        <% for allergen in grouping %>
          <li>
            <%= check_box_tag 'allergen_id[]', allergen.id %>  
            <%= allergen.category %>   
          </li>
        <% end %>
      </ol>
    </div>
  <% end %>
<% end %>