<%= form_tag menus_path do %> 
  <div class='menu-panel'>
    <% allergen_groups().each do |key, value| %>
      <div class='center-heading'><%= key %></div>
      <% grouping = @menu.where(group: value) %>
      <br>
      <ol>
        <% for allergen in grouping %>
          <li>
            <%= check_box_tag 'allergen_id[]', allergen.id %>  
            <%= allergen.category %>   
          </li>
        <% end %>
      </ol>
    <% end %>
  </div>
  <br>
  <br>
  <%= submit_tag "Submit", class: "btn btn-xlarge btn-primary"%>
<% end %>